<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project3_321x</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>loginProcess</servlet-name>
	<servlet-class>com.org.controller.loginProcess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginProcess</servlet-name>
		<url-pattern>/loginprocess-servlet</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>SignupController</servlet-name>
	<servlet-class>com.org.controller.SignupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupController</servlet-name>
		<url-pattern>/signupcontroller-servlet</url-pattern>
	</servlet-mapping>
	<filter>
        <filter-name>CheckLogin</filter-name>
        <filter-class>com.org.filter.CheckLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/userCounter.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>